.grid1 {
	background: url(../images/grid_01.jpg) no-repeat center center;
	background-size: cover;
}

.grid2 {
	background: url(../images/grid_02.jpg) no-repeat center center;
	background-size: cover;
}

.grid3 {
	background: url(../images/grid_03.jpg) no-repeat center center;
	background-size: cover;
}

.grid4 {
	background: url(../images/grid_04.jpg) no-repeat center center;
	background-size: cover;
}

.grid5 {
	background: url(../images/grid_05.jpg) no-repeat center center;
	background-size: cover;
}

.grid6 {
	background: url(../images/grid_06.jpg) no-repeat center center;
	background-size: cover;
}

.grid7 {
	background: url(../images/grid_07.jpg) no-repeat center center;
	background-size: cover;
}