/* Portrait tablet and small desktops */
@media (max-width: 940px) {
	.wrapper {
		padding: 4% 0;
	}

	.gallery-item {
		width: 50%;

		&:nth-child(3n) {
			border-right: 1px solid $greyd;
		}

		&:nth-child(n+4) {
			border-bottom: 1px solid $greyd;
		}

		&:nth-child(2n) {
			border-right: none;
		}

		&:nth-child(n+5) {
			border-bottom: none;
		}
	}

	.portfolio-container {
		flex-flow: row wrap;
	}

	.portfolio-item {
		width: calc(97% / 2);
		height: calc((100% - 80px) / 4);
		margin-bottom: 20px;

		&:hover .portfolio-hover {
			height: 92.5%;
		}
	}

	.big-item {
		width: 100%;

		&:hover .portfolio-hover {
			width: 97.5%;
		}
	}

	.grid3 {
		order: -1;
	}

	.grid6 {
		width: calc(97% / 2);

		&:hover .portfolio-hover {
			width: 95%;
			height: 92.5%;
		}
	}

	.news-container {
		flex-flow: row wrap;
	}

	.news-panel {
		width: 100%;
	}

	.news-item-full {
		margin-bottom: 25px;
	}

	.news-item-third {
		&:hover .news-item-text {
			padding: 25px;
		}
	}

	footer h3 {
		margin-bottom: 10px;
	}

	.footer-quarter-1 {
		width: 100%;
		margin-bottom: 35px;
	}

	.footer-quarter {
		width: 30%;
		margin-bottom: 25px;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	nav {
		flex-flow: row wrap;

		ul {
			height: 50vh;
			padding: 50px 0;
			flex-flow: column;
			justify-content: center;
			background: rgba(0,0,0,.8);
			position: fixed;
			top: 0;
			left: 100%;
			z-index: 1;
			transition: all .3s;

			li {
				font-size: 1.5rem;
				line-height: 15px;
				margin: 0 12px 15px;
				display: inline-block;

				&:nth-child(8) {
					margin: 0;
					padding: 8px 10px;
					background: rgba(0,0,0,.5);
					border-bottom: none;
					display: list-item;
					visibility: visible;
					opacity: 1;
					position: fixed;
					top: 10px;
					right: 10px;
				}

				&:after {
					content: "";
				}
			}
		}

		ul.show {
			left: 0;
		}
	}

	i.fa {
		font-size: 2rem;
	}

	.title {
		width: 90%;
	}

	.gallery-item {
		width: 100%;
		padding: 25px;
		border: none;
		border-bottom: 1px solid $greyd;

		&:nth-child(3n) {
			border-right: none;
		}

		&:nth-child(n+4) {
			border-bottom: 1px solid $greyd;
		}

		&:nth-child(2n) {
			border-right: none;
		}

		&:nth-child(n+5) {
			border-bottom: 1px solid $greyd;
		}

		&:last-child {
			border-bottom: none;
		}
	}

	.portfolio-container {
		height: 1800px;
	}

	.portfolio-item {
		width: 100%;
		height: calc((100% - 70px) / 7);
		margin-bottom: 10px;

		&:hover .portfolio-hover {
			width: 33%;
			height: 100%;
			padding: 20px;
			visibility: visible;
			opacity: 1;
			top: 0;
			left: 0;
			transform: none;

			h3, p {
				top: 10%;
			}
		}
	}

	.big-item {
		width: 100%;

		&:hover .portfolio-hover {
			width: 33%;
			height: 100%;
			padding: 20px;
			visibility: visible;
			opacity: 1;
			top: 0;
			left: 0;
			transform: none;
		}
	}

	.grid3 {
		order: -1;
	}

	.grid6 {
		width: 100%;

		&:hover .portfolio-hover {
			width: 33%;
			height: 100%;
			padding: 20px;
			visibility: visible;
			opacity: 1;
			top: 0;
			left: 0;
			transform: none;
		}
	}

	.portfolio-hover {
		width: 33%;
		padding: 20px;
		visibility: visible;
		opacity: 1;

		h3, p {
			top: 10%;
		}
	}

	.stats {
	background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../images/mountains_hero.jpeg) no-repeat center center;
	background-size: cover;
}

	.stats-container {
		flex-flow: row wrap;
	}

	.stat {
		width: 50%;

		h4:after {
			bottom: -10px;
		}

		p {
			margin-top: 10px;
		}
	}

	.newsletter-container {
		flex-flow: row wrap;
		text-align: center;
	}

	.newsletter-panel {
		width: 100%;
		margin-bottom: 25px;
	}

	.footer-quarter, .footer-quarter-1 {
		width: 100%;
		margin-bottom: 25px;
		text-align: center;

		&:last-child {
			margin-bottom: 0;
		}
	}

	ul.social {
		justify-content: center;

		li:last-child {
			margin-right: 0;
		}
	}

	ul.tags {
		width: 80%;
		margin: 0 auto;
	}

	ul.address {
		width: 50%;
		margin: 0 auto;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	.wrapper {
		padding: 8% 0;
	}

	.about-img {
		height: 200px;
	}

	.about-overlay {
		width: 100%;
		padding: 8% 4%;
		border-bottom: 1px solid $greyd;
		box-shadow: none;
		top: 0;

		&:hover {
			transform: none;
			box-shadow: none;
		}
	}

	.stat {
		width: 100%;
	}

	.news-item-text {
		border-bottom: 1px solid $greyd;
	}

	.news-item-full .news-item-text {
		padding: 20px 0;
	}

	.news-item-third {
		.news-item-text, .news-item-img {
			width: 100%;
		}

		.news-item-text {
			padding: 25px 0;
		}
	}

	ul.address {
		width: 70%;
		text-align: center;
	}
}