h1, h2, h3, h4 {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: $grey1;
}

h2 {
	font-size: 1.5rem;
	font-weight: 400;
	letter-spacing: 2.5px;
}

h3 {
	font-size: 1.15rem;
	line-height: 2rem;
	letter-spacing: 2px;
}

h4 {
	font-size: .9rem;
	font-weight: 400;
	letter-spacing: 1px;
	color: $grey4;
}

p {
	margin: 0;
	font-family: 'Droid Serif', serif;
	line-height: 20px;
	color: $grey8;
}

li {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}

a {
	color: $grey8;
	text-decoration: none;

	&:hover {
		color: #FFF;
	}
}